
<div class="container">
    <h1>Faculty Course Registration </h1>
    <form>
      <fieldset>   
        
        <div class="form-group">
          <label for="exampleSelect1">Course You want to teach on campus </label>
          <select multiple="" class="form-control" id="exampleSelect2">
            <option>FPP</option>
            <option>MPP</option>
            <option>DBMS</option>
            <option>Big Data</option>
            <option>Advance Software Development</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleSelect2">Course You want to teach  on Distance Edu :</label>
          <select multiple="" class="form-control" id="exampleSelect2">
            <option>Software Enginnering</option>
            <option>Algorithm</option>
            <option>DBMS</option>
            <option>Big Data</option>
            <option>Advance Software Development</option>
          </select>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Save Course</button>
      </fieldset>
    </form>
</div>