<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="offset-md-4 col-md-4 text-center">
            <h3 class="text text-primary"> Please scan and enter into class</h3>

            <img class="img-fluid img-thumbnail" width="100%"
                src="https://www.kaspersky.com/content/en-global/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png"
                class="rounded float-left" alt="QR Code"/>

            <p class="text text-info"> // After Scan you got attendance for Today <br> <b>Morning session , MWA course
                </b> </p>
        </div>

    </div>

    <div class="row mt-4">

        <div class="offset-md-4 col-md-4">

            <h3 class="text text-primary"> How To use QR Code ? See video </h3>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="900" height="506" src="https://www.youtube.com/embed/CYJi94m6xOQ" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                </div>

        </div>
    </div>

    <div class="row mt-5">

    </div>
</div>

