<div class="container">
    <h1 class="txt txt-success text-center">Faculty Login </h1>
    <p>
      <b class="text text-danger">Information about Stuent Attendance System : </b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>

    <div class="row" style="margin-top: 30px;">
     
      <div class="offset-md-4 col-md-4">
        <form>
          <fieldset>
            <legend>Please Login and Manage Stuent and Students' Attendance</legend>
            
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            </fieldset>
            </form>

            <p class="txt txt-success mt-4">If you don't have account . <br>Please <a href="/student/profile" class="text text-danger">create your student profile here</a></p>

      </div>
   
      

    </div>
    
  </div>