<div class="container">
    <h1 class="txt txt-success text-center">Manage Students</h1>

    <div class="row" style="margin-top: 30px;">

      <div class="offset-md-2 col-md-8">

        <div class="text-right">
          <button class="btn btn-primary my-3 fr">+ Add Student</button>
        </div>

        <table class="table table-primary">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr>
            <tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr><tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr><tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr><tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr><tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr><tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr><tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr><tr class="table table-dark">
              <th scope="row">Mohan</th>
              <td>Lar</td>
              <td>mlar@miu.edu</td>
              <td> <a href="" class="text text-warning">Update</a> <a class="text text-danger" href="">Del</a></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>


  </div>
